:root {
    --textcolor: #fff;
    --bgcolor0: #0b7c85;
    --bgcolor1: #004445;
    --bgcolor2: #2c7873;
    --bgcolor3: #6fb98f;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background: var(--bgcolor0);
  }
  
  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--bgcolor1);
    color:var(--textcolor);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 150%;
    margin-bottom: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
    
  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }