@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root {
  --textcolor: rgb(0, 0, 0);
  --bgcolor0: #E5E5E5;
  --bgcolor1: #004445;
  --bgcolor2: #5177ca;
  --bgcolor3: #FCA311;
}

  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background: var(--bgcolor0);
  }

  /* Navigation */
  
  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--bgcolor2);
    color:var(--textcolor);
    flex-direction: column;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 30px;
  }

  nav li {
    padding-inline: 10px;
    justify-content: space-between;
  }
    
  nav a {
    color:var(--textcolor);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }

  nav a:hover {
    color:var(--bgcolor3);
  }

  /* About Me */

  intro {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px; 
    color:var(--textcolor);
  }

  intro img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    width: 75%;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
    float: left;
  }


  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  /* Portfolio Cards, Footer */

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
  }
  
  h2 {
    font-size: 150%;
    margin-bottom: 10px;
  }

  .card {
  border-style: solid;
  border-width: 3px;
  border-radius: 60px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 20px;
  }

  .card:hover {
    color: var(--bgcolor3);
    border-width: 3px;
  }

  #social img {
    opacity: 50%;
  }
  #social:hover img {
    opacity:100%;  
  }

  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    header {
      width: 50%;
    }
    nav ul {
      width: 100%;
    }
    nav a {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    header {
      width: 100%;
    }
    nav ul {
      width: 100%;
    }
    nav a {
      width: 100%;
    }
  }